/*glonal=========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body {
    background: #f0d5e9;
    font-family: 'Poppins',sans-serif;
}


/* HEADER========================== */

 /* Produtos========================== */



  /* Produtos========================== */
 